
configuration {
    modi: "window,run,drun";
    location: 0;
    yoffset: -200;
    xoffset: 0;
    fixed-num-lines: false;
    show-icons: true;
    dpi: 150;
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "c64"
